{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Upload Image</title>
</head>
<body class="b">
    
    <h1 class="heading"> DeepFake Detector</h1>
    <p class="para"> This tool detects whether the image is real or fake.</p>
    <form  class="choose" method="post" enctype="multipart/form-data" id="upload-form">
        {% csrf_token %}
        <input class="f" type="file" id="image-input" accept="image/*">
        <button type="button" onclick="uploadImage()">Upload</button>
    </form>
    
    <p id="result"></p>
    <link rel="stylesheet" href="abc.css">

    <script>
        function uploadImage() {
            const input = document.getElementById('image-input');
            const file = input.files[0];

            if (!file) {
                document.getElementById('result').innerText = 'Please select a file.';
                return;
            }

            if (!file.type.startsWith('image/')) {
                document.getElementById('result').innerText = 'Please select a valid image file.';
                return;
            }

            const reader = new FileReader();
            reader.onloadend = function() {
                const imageData = reader.result.split(',')[1];
                fetch('/predict/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value,
                    },
                    body: JSON.stringify({image: imageData}),
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    document.getElementById('result').innerText = 'Prediction: ' + data.result;
                })
                .catch(error => {
                    document.getElementById('result').innerText = 'Error: ' + error.message;
                    console.error('Error:', error);
                });
            };
            reader.readAsDataURL(file);
        }
    </script>
</body>
</html>